<div class="container">
  <form (ngSubmit)="login()">
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"
    ><i class="bi bi-person-fill"></i
    ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="user"
        [(ngModel)]="username"
      />
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"
    ><i class="bi bi-lock-fill"></i
    ></span>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="pass"
        [(ngModel)]="password"
      />
    </div>

    <div class="input-group mb-3">
      <button
        type="submit"
        class="btn btn-info"
        aria-label="Login"
      >
        Log in
      </button>
    </div>
  </form>
</div>
