<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"
    ><i class="bi bi-person-fill"></i
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"
    ><i class="bi bi-lock-fill"></i
    ></span>
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      aria-label="Password"
      aria-describedby="basic-addon2"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"
    ><i class="bi bi-lock-fill"></i
    ></span>
    <input
      type="password"
      class="form-control"
      placeholder="Confirm password"
      aria-label="Password"
      aria-describedby="basic-addon2"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">@</span>
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      aria-label="Email"
      aria-describedby="basic-addon3"
    />
  </div>

  <div class="input-group mb-3">
    <button
      type="button"
      class="btn btn-info"
      aria-label="Register"
      aria-describedby="basic-addon3"
    >
      Register
    </button>
  </div>
</div>

