<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/guitar1.jpg" class="d-block w-100" alt="Guitar picture">
        <div class="carousel-caption d-none d-md-block">
          <h3>Wybierz odpowiedni kurs</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/guitar2.jpg" class="d-block w-100" alt="Guitar picture">
        <div class="carousel-caption d-none d-md-block">
          <h3>Ćwicz w domu</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/guitar3.jpg" class="d-block w-100" alt="Guitar picture">
        <div class="carousel-caption d-none d-md-block">
          <h3>Nie wahaj się pisać i zadawać pytania</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <p class="fs-5">
      Serdecznie witamy na naszej stronie, gdzie pasja do muzyki spotyka się z profesjonalizmem. 
      Jeśli chcesz podnieść swoje umiejętności w grze na gitarze bez wychodzenia z dumu i szukania odpowiedniego nauczyciela, zapoznaj się z naszą ofertą.
      Oferujemy kursy gry na gitarze, które są dostosowane do wszystkich poziomów zaawansowania – od początkujących po zaawansowanych gitarzystów. 
      Nasza misja to nie tylko nauczenie Cię gry na gitarze, ale także rozwijanie Twojej miłości do muzyki.
    </p>
    <p class="fs-5">
      Nasze kursy są starannie przygotowane przez doświadczonych instruktorów, którzy mają na koncie wiele lat praktyki scenicznej i dydaktycznej. Oferujemy szeroki wybór kursów - od podstawowych ćwiczeń po zaawansowane techniki solowe. 
      Każdy kurs zawiera materiały wideo, audio, tabulatury oraz ćwiczenia, które pomogą Ci szybko i efektywnie rozwijać swoje umiejętności.
    </p>
    <p class="fs-5">
      Dołącz do naszej społeczności i odkryj, dlaczego tak wielu gitarzystów wybiera nasze kursy. 
      Nie jesteś zdany sam na siebie, możesz kontaktować się z nami drogą mailową bądź poprzez grupy dyskusyjne i zadawać pytania.
      Z nami nauka gry na gitarze stanie się przyjemnością, a Twoje muzyczne marzenia staną się rzeczywistością.
    </p>
  </div>
