<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let course of coursesList">
      <div class="card">
        <img class="card-img-top"
          src="https://www.couplandleather.co.uk/cdn/shop/products/WhatsAppImage2022-01-14at14.46.57_3_1600x1066.jpg?v=1642188207"
          alt="Course image">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="font-italic">
            <i style="float: left;"> {{ course.author.first_name }} {{ course.author.last_name }}</i>
            <img src="assets/img/face.jpg" style="width: 40px; float: right;"></p><br>
          <p>Level: {{ course.level }}</p>
          <p class="card-text">{{ course.desc }} <br>
          <a routerLink="/course/{{ course.id }}" style="text-decoration: none; bottom: 10px;">Więcej szczegółów >></a></p>
          <p class="text-danger"> {{ course.price | currency: course.currency }}</p>     
          <a href='{{ course.payment_link}}' *ngIf="course?.payment_link !== null && course?.payment_link !== ''">
            <button class="btn btn-primary">Kup kurs</button>
          </a>
          <button class="btn btn-primary" disabled *ngIf="course?.payment_link === null || course?.payment_link === ''">   
            Kup kurs  
          </button>         
        </div>
      </div>
    </div>
  </div>
</div>

