<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <form>
          <div class="input-group mb-3">
          <span class="input-group-text" id="pass"
          ><i class="bi bi-envelope-fill"></i
          ></span>
            <input
              type="email"
              class="form-control"
              placeholder="Your email"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="input-group mb-3">
            <button
              type="submit"
              class="btn btn-info"
              aria-label="send-link"
            >
              Send remind password link
            </button>
          </div>
        </form>
        </div>
      </div>
</div>
