<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <form (ngSubmit)="remindPassword(email)">
          <div class="input-group mb-3">
          <span class="input-group-text" id="pass"
          ><i class="bi bi-envelope-fill"></i
          ></span>
            <input
              type="email"
              class="form-control"
              placeholder="Twój e-mail"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <p *ngIf="errorEmailFormatMessage !== ''" class="text-danger">{{ errorEmailFormatMessage }}</p>
          <div class="input-group mb-3">
            <button
              type="submit"
              class="btn btn-info"
              aria-label="send-link"
            >
              Wyślij link do zresetowania hasła
            </button>
          </div>
        </form>
        <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p>
      </div>
    </div>
</div>
