<div class="container">
  <h3>{{ courseDetails?.title }} - choose module</h3>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item" *ngFor="let module of courseDetails?.modules; let i = index"><a class="page-link" (click)="setModulePage(i)" style="cursor: pointer;">{{ i }}</a>
      </li>
    </ul>
  </nav>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let lesson of courseDetails?.modules[currentPage].lessons; let i = index">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i " aria-expanded="true" [attr.aria-controls]="'collapse' + i">
          {{ lesson.title }}
        </button>
      </h2>
      <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <iframe width="420" height="315"
          src='https://www.youtube.com/embed/tNO9SWEjoIU'>
          </iframe>
          <ul>
            <ng-container *ngFor="let m of lesson.media">
              <a href='{{m.url}}' *ngIf="m.type == 'zip'"> {{ m.filename }} <br></a>
              <a href='{{m.url}}' target ="_blank" *ngIf="m.type == 'pdf'"> {{ m.filename }} <br></a>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

