<div class="container">

    <div class="nav-item dropdown" style="margin-bottom: 20px;">
      <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button> -->
      <a class="btn btn-secondary dropdown-toggle navbar-light bg-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
         <span class="fs-4">{{ courseDetails?.title }} - choose module</span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" *ngFor="let module of courseDetails?.modules; let i = index" (click)="setModulePage(i)" style="cursor: pointer;">{{ i }} {{ module.title }}</a></li>
      </ul>
    </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let lesson of courseDetails?.modules[currentPage].lessons; let i = index">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i " aria-expanded="true" [attr.aria-controls]="'collapse' + i">
          {{ lesson.title }}
        </button>
      </h2>
      <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <iframe width="420" height="315"
          [src]="lesson.video[0]?.url | youtubeUrl">
          </iframe>
          <ul>
            <ng-container *ngFor="let m of lesson.media">
              <a href='{{m.url}}' *ngIf="m.type == 'zip'"> {{ m.filename }} <br></a>
              <a href='{{m.url}}' target ="_blank" *ngIf="m.type == 'pdf'"> {{ m.filename }} <br></a>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

