<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <form (ngSubmit)="confirmPassword()">
          <div class="input-group mb-3">
          <span class="input-group-text" id="newPassword"
          ><i class="bi bi-lock-fill"></i
          ></span>
            <input
              type="password"
              class="form-control"
              placeholder="Nowe hasło"
              name="newPassword"
              [(ngModel)]="newPassword"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="confirmNewPassword"
            ><i class="bi bi-lock-fill"></i
            ></span>
              <input
                type="password"
                class="form-control"
                placeholder="Potwierdź nowe hasło"
                name="confirmNewPassword"
                [(ngModel)]="confirmNewPassword"
              />
            </div>
            <div class="requirements text-secondary">
                <label>Hasło powinno zawierać</label>
                <ul>
                  <li>Przynajmniej jedną małą literę [a-z]</li>
                  <li>Przynajmniej jedną wielką literę [A-Z]</li>
                  <li>Przynajmniej jeden numer [0-9]</li>
                  <li>Znak specjalny [‘&#64;’, ‘$’, ‘.’, ‘#’, ‘!’, ‘%’, ‘*’, ‘?’, ‘&’, ‘^’]</li>
                  <li>Długość między 8 a 15 znaków</li>
                </ul>
              </div>
          <p *ngIf="comparePass !== ''" class="text-danger">{{ comparePass }}</p>
          <p *ngIf="validationPassFormat !== ''" class="text-danger">{{ validationPassFormat }}</p>
          <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p>
          <p *ngIf="errorMessage !== ''" class="text-danger">{{ errorMessage }}</p>
          <div class="input-group mb-3">
            <button
              type="submit"
              class="btn btn-info"
              aria-label="send-link"
            >
              Ustaw nowe hasło
            </button>
          </div>
        </form>
        <!-- <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p> -->
      </div>
    </div>
</div>
