<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <form (ngSubmit)="confirmPassword()">
          <div class="input-group mb-3">
          <span class="input-group-text" id="newPassword"
          ><i class="bi bi-lock-fill"></i
          ></span>
            <input
              type="password"
              class="form-control"
              placeholder="New password"
              name="newPassword"
              [(ngModel)]="newPassword"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="confirmNewPassword"
            ><i class="bi bi-lock-fill"></i
            ></span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm new password"
                name="confirmNewPassword"
                [(ngModel)]="confirmNewPassword"
              />
            </div>
            <div class="requirements text-secondary">
                <label>Password should have:</label>
                <ul>
                  <li>At least one lowercase alphabet i.e. [a-z]</li>
                  <li>At least one uppercase alphabet i.e. [A-Z]</li>
                  <li>At least one Numeric digit i.e. [0-9]</li>
                  <li>At least one special character i.e. [‘@’, ‘$’, ‘.’, ‘#’, ‘!’, ‘%’, ‘*’, ‘?’, ‘&’, ‘^’]</li>
                  <li>Also, the total length must be in the range [8-15]</li>
                </ul>
              </div>
          <p *ngIf="comparePass !== ''" class="text-danger">{{ comparePass }}</p>
          <p *ngIf="validationPassFormat !== ''" class="text-danger">{{ validationPassFormat }}</p>
          <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p>
          <p *ngIf="errorMessage !== ''" class="text-danger">{{ errorMessage }}</p>
          <div class="input-group mb-3">
            <button
              type="submit"
              class="btn btn-info"
              aria-label="send-link"
            >
              Set new password
            </button>
          </div>
        </form>
        <!-- <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p> -->
      </div>
    </div>
</div>
