<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="footer navbar-light bg-info">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div>
        <button type="button" class="btn btn-info btn-lg" (click)="openModal()">Zapisz się do newslettera</button>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-info">
                  <h4 class="modal-title">Zapisz się do newslettera</h4>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="joinTheNews(name, email)">
                    <div class="input-group mb-3">
                      <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                      <input type="text" class="form-control" placeholder="Imię" name="name" [(ngModel)]="name" required minlength="3"/>
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                      <input type="email" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="email" />
                    </div>

                    <div class="input-group mb-3">
                      <button type="submit" class="btn btn-info" aria-label="Join">
                        Dołącz
                      </button>
                    </div>
                    <p class="text-success" *ngIf="success">Dołączyłeś do newslettera!</p>
                  </form>
                </div>
                <div class="modal-footer bg-info">
                  <button type="button" class="btn btn-default" (click)="onCloseHandled()">Zamknij</button>
                  
                </div>
              </div>
            </div>
          </div>
        <div class="footer_menu">
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a [routerLink]="'/courses'"
              >Nasze kursy</a></li>
            <li><a href="#">Cennik</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="footer_copyright">
          <p style="color: gray;">© 2024 Guitar School - Wszelkie prawa zastrzeżone.</p>
        </div>
        <div class="footer_profile">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div><!--- END COL -->
    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</div>
