<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <form (ngSubmit)="changePass()">
          <div class="input-group mb-3">
          <span class="input-group-text" id="pass"
          ><i class="bi bi-lock-fill"></i
          ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Stare hasło"
              name="oldPass"
              [(ngModel)]="oldPass"
            />
          </div>
      
          <div class="input-group mb-3">
          <span class="input-group-text" id="newPass"
          ><i class="bi bi-lock-fill"></i
          ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Nowe hasło"
              name="newPass"
              [(ngModel)]="newPass"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="confirmPass"
            ><i class="bi bi-lock-fill"></i
            ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Potwierdź nowe hasło"
                name="confirmPass"
                [(ngModel)]="confirmPass"
              />
            </div>

            <div class="requirements text-secondary">
              <label>Hasło powinno zawierać:</label>
              <ul>
                <li>Przynajmniej jedną małą literę [a-z]</li>
                <li>Przynajmniej jedną wielką literę [A-Z]</li>
                <li>Przynajmniej jeden numer [0-9]</li>
                <li>Znak specjalny [‘&#64;’, ‘$’, ‘.’, ‘#’, ‘!’, ‘%’, ‘*’, ‘?’, ‘&’, ‘^’]</li>
                <li>Długość między 8 a 15 znaków</li>
              </ul>
            </div>
      
          <div class="input-group mb-3">
            <button
              type="submit"
              class="btn btn-info"
              aria-label="Login"
            >
              Zmień hasło
            </button>
          </div>
          <p *ngIf="confirmError" class="text-danger">Hasła nie są takie same</p>
          <p *ngIf="errorPasswordFormat !== ''" class="text-danger">{{ errorPasswordFormat }}</p>
          <p *ngIf="successMessage !== ''" class="text-success">{{ successMessage }}</p>
          <p *ngIf="errorMessage !== ''" class="text-danger">{{ errorMessage }}</p>
          </form>
        </div>
      </div>
</div>
